* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Times New Roman, Times, serif;
  color: #fff;
}
* {
  cursor: url(../../../cursor.png), auto;
}
html,
body {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
  background-image: url(../../../img/bg.gif);
  background-size: cover;
}
main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 720px) {
  main {
    padding: 0.25rem;
  }
}
.carousel-host.svelte-686mvj.svelte-686mvj {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
}
.carousel-host.svelte-686mvj > .carousel-container.svelte-686mvj {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: var(--pad);
  padding-left: var(--gap);
  gap: var(--gap);
  animation-name: svelte-686mvj-carousel-pan;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-timing-function: linear;
  will-change: transform;
}
@keyframes svelte-686mvj-carousel-pan {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
#media-player.svelte-i3p7y1 {
  width: min(24rem, 80vw);
  height: min(24rem, 80vw);
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-image: url(../../../img/mediaplayer.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 8;
}
@media screen and (max-width: 560px) {
  #media-player.svelte-i3p7y1 {
    display: none;
  }
}
.icon-container.svelte-i3p7y1 {
  width: 70%;
  height: 76.75%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.money.svelte-1he4b22.svelte-1he4b22 {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.money.svelte-1he4b22 > .item.svelte-1he4b22 {
  width: 12rem;
  height: 12rem;
  background-image: url(../../../img/fiat.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: svelte-1he4b22-money-in;
  animation-duration: 1.2s;
  animation-iteration-count: once;
  animation-fill-mode: forwards;
  z-index: 12;
}
@keyframes svelte-1he4b22-money-in {
  0% {
    opacity: 0;
    transform: translateY(0) rotate(calc(var(--local-rotation) * 0.5));
  }
  12.5% {
    opacity: 1;
    transform: translateY(-25%) rotate(calc(var(--local-rotation) * 0.5));
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(100%) rotate(var(--local-rotation));
  }
}
.money.svelte-1he4b22 > .item.svelte-1he4b22:nth-child(2) {
  width: 8rem;
  height: 8rem;
}
.money.svelte-1he4b22 > .item.svelte-1he4b22:nth-child(3) {
  width: 4rem;
  height: 4rem;
}
#ticker-tape.svelte-1he4b22.svelte-1he4b22 {
  max-width: 100%;
  -webkit-user-select: none;
  user-select: none;
}
#ticker-tape.svelte-1he4b22 span.svelte-1he4b22 {
  font-family: VT323, monospace;
  font-size: 3rem;
  color: #0f0;
}
#ticker-tape.svelte-1he4b22 span.svelte-1he4b22:nth-child(2n) {
  color: red;
}
h2.svelte-1he4b22.svelte-1he4b22 {
  text-align: center;
  font-weight: 100;
  color: #ff0;
  transform: scaleY(1.5);
  animation-name: svelte-1he4b22-h2-flash;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media screen and (max-width: 720px) {
  h2.svelte-1he4b22.svelte-1he4b22 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 560px) {
  h2.svelte-1he4b22.svelte-1he4b22 {
    font-size: 0.75rem;
  }
}
@keyframes svelte-1he4b22-h2-flash {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#links-container.svelte-1he4b22.svelte-1he4b22 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 1rem;
}
#links-container.svelte-1he4b22 .svelte-1he4b22 {
  width: 100%;
  grid-column: span 3;
}
#links-container.svelte-1he4b22 > .gay-border.svelte-1he4b22 {
  grid-column: span 12;
}
@media screen and (max-width: 720px) {
  #links-container.svelte-1he4b22 > .svelte-1he4b22 {
    grid-column: span 12;
  }
}
.gay-border.svelte-1he4b22.svelte-1he4b22 {
  height: 4px;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    #ff0,
    green,
    #0ff,
    #00f,
    violet
  );
  background-size: 200%;
  animation-name: svelte-1he4b22-gay-pan;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.second-gay.svelte-1he4b22.svelte-1he4b22 {
  background-image: linear-gradient(
    to left,
    red,
    orange,
    #ff0,
    green,
    #0ff,
    #00f,
    violet
  );
  animation-delay: 0.3s;
}
@keyframes svelte-1he4b22-gay-pan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}
h1.svelte-1he4b22.svelte-1he4b22 {
  padding: 2rem 0 1rem;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  transform: scaleY(1.5);
  -webkit-user-select: none;
  user-select: none;
}
#brand.svelte-1he4b22.svelte-1he4b22 {
  margin-top: -4%;
  -webkit-user-select: none;
  user-select: none;
}
.brand-grid.svelte-1he4b22.svelte-1he4b22 {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 1rem;
}
.brand-grid.svelte-1he4b22 .svelte-1he4b22 {
  grid-column: span 4;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
}
@media screen and (max-width: 560px) {
  .brand-grid.svelte-1he4b22 .svelte-1he4b22 {
    grid-column: span 12;
  }
}
@media screen and (max-width: 720px) {
  #brand-grid-b.svelte-1he4b22 > .svelte-1he4b22:first-child,
  #brand-grid-b.svelte-1he4b22 > .svelte-1he4b22:last-child {
    grid-column: span 3;
    opacity: 0;
  }
  #brand-grid-b.svelte-1he4b22 > .svelte-1he4b22:nth-child(2) {
    grid-column: span 6;
  }
}
.border-box.svelte-1he4b22.svelte-1he4b22 {
  padding: 1rem;
  position: relative;
  background-color: #dcdcdc;
  box-shadow: inset 0 0 0.5rem #000, inset 0 0 0.5rem #000,
    inset 0 0 0.5rem #000;
}
.border-box.svelte-1he4b22 > .svelte-1he4b22 {
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #000;
  box-shadow: 0 0 0.5rem #000, 0 0 0.5rem #000, 0 0 0.5rem #000;
}
#hands.svelte-1he4b22.svelte-1he4b22 {
  transition: 0.6s;
  transform: translateY(50%);
  opacity: 0;
}
#hands[data-visibility="true"].svelte-1he4b22.svelte-1he4b22 {
  transform: translateY(4rem);
  opacity: 1;
}
@media screen and (max-width: 560px) {
  #hands[data-visibility="true"].svelte-1he4b22.svelte-1he4b22 {
    transform: translateY(7rem);
  }
}
p.svelte-1he4b22.svelte-1he4b22 {
  font-size: 1.5rem;
  font-weight: 100;
}
p.about.svelte-1he4b22.svelte-1he4b22 {
  color: #0ff;
}
.kaomoji.svelte-1he4b22.svelte-1he4b22 {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}
@media screen and (max-width: 560px) {
  .kaomoji.svelte-1he4b22.svelte-1he4b22 {
    display: none;
  }
}
#how-to-buy.svelte-1he4b22.svelte-1he4b22 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  align-items: center;
}
#how-to-buy.svelte-1he4b22 > .svelte-1he4b22:first-child,
#how-to-buy.svelte-1he4b22 > .svelte-1he4b22:last-child {
  grid-column: span 1;
}
#how-to-buy.svelte-1he4b22 > .svelte-1he4b22:nth-child(2) {
  width: 100%;
  grid-column: span 10;
}
@media only screen and (max-width: 720px) {
  #how-to-buy.svelte-1he4b22 > .svelte-1he4b22:first-child,
  #how-to-buy.svelte-1he4b22 > .svelte-1he4b22:last-child {
    display: none;
  }
  #how-to-buy.svelte-1he4b22 > .svelte-1he4b22:nth-child(2) {
    grid-column: span 12;
  }
}
#how-to-buy-box.svelte-1he4b22 > p.svelte-1he4b22 {
  color: #ff0;
  font-family: Comic neue, sans;
  font-weight: 600;
  background-image: url(../../../img/bigbidness.webp);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 33vw;
}
#footer.svelte-1he4b22.svelte-1he4b22 {
  height: 100vw;
  min-height: 100vw;
  position: relative;
}
@media screen and (max-width: 720px) {
  #footer.svelte-1he4b22.svelte-1he4b22 {
    display: none;
  }
}
#footer.svelte-1he4b22 > .svelte-1he4b22 {
  position: absolute;
  transition: 0.12s;
}
@media screen and (min-width: 720px) {
  #footer.svelte-1he4b22 > .svelte-1he4b22 {
    transform: translate(var(--local-para-x), var(--local-para-y));
  }
}
#ultra.svelte-1he4b22.svelte-1he4b22 {
  width: 100%;
  top: 0;
}
#planet-1.svelte-1he4b22.svelte-1he4b22 {
  top: 12.5%;
  left: 5%;
}
#planet-2.svelte-1he4b22.svelte-1he4b22 {
  top: 5%;
  left: 33%;
}
#chart.svelte-1he4b22.svelte-1he4b22 {
  width: 100%;
  bottom: 50%;
}
#rainbow-road.svelte-1he4b22.svelte-1he4b22,
#computer.svelte-1he4b22.svelte-1he4b22 {
  width: 125%;
  bottom: -12.5%;
  left: -12.5%;
}
#nice.svelte-1he4b22.svelte-1he4b22 {
  width: 100%;
  bottom: 0;
}
#footer-mobile.svelte-1he4b22.svelte-1he4b22 {
  display: none;
  max-width: 100vw;
}
@media screen and (max-width: 720px) {
  #footer-mobile.svelte-1he4b22.svelte-1he4b22 {
    display: block;
  }
}
